appnope==0.1.0
backcall==0.1.0
backpack==0.1
blinker==1.4
cleo==0.6.8
Click==7.0
clikit==0.2.3
coverage==4.5.2
decorator==4.3.2
Faker==0.8.18
Flask==1.0.2
Flask-API==1.1
flask-orator==0.2.0
Flask-Testing==0.7.1
gunicorn==19.9.0
inflection==0.3.1
ipython==7.2.0
ipython-genutils==0.2.0
itsdangerous==1.1.0
jedi==0.13.2
Jinja2==2.10
lazy-object-proxy==1.3.1
MarkupSafe==1.1.0
nose==1.3.7
orator==0.9.8
parso==0.3.3
pastel==0.1.0
pendulum==1.5.1
pexpect==4.6.0
pickleshare==0.7.5
prompt-toolkit==2.0.8
psycopg2==2.7.7
psycopg2-binary==2.7.7
ptyprocess==0.6.0
pyaml==16.12.2
Pygments==2.3.1
pylev==1.3.0
python-dateutil==2.8.0
pytz==2018.9
pytzdata==2018.9
PyYAML==5.4
simplejson==3.16.0
six==1.12.0
text-unidecode==1.2
traitlets==4.3.2
tzlocal==1.5.1
wcwidth==0.1.7
Werkzeug==0.15.3
wrapt==1.11.1
